{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}管理员 - 添加用户{% endblock %}

{% block page_content %}
<div class="container">
<div class="page-header">
    <h1>管理用户</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
</div>
<br /><br />
{% if allu %}
<div class="container">
<div class="col-md-11">
    <h2>用户列表</h2>
<hr>
</div>
<div class="col-md-11">
<table class="table table-hover">
    <caption>所有用户</caption>
    <thead>
    <tr>
        <th>用户名</th>
        <th>门店名</th>
        <th>最后活跃时间</th>
        <th>状态</th>
        <th>修改</th>
        <th>删除</th>
    </tr>
    </thead>
    <tbody>
    {% for user in allu %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.branchname }}</td>
        <td>{% if user.in_use %}{{ moment(user.last_seen).format('YYYY年M月D日 HH:mm:ss') }}{% endif %}</td>
        <td>{% if user.in_use %}已激活{% else %}未激活{% endif %}</td>
        <td>{% if user.in_use %}
            <form name="alteruser" action="{{ url_for('admin.alter_user', user_id=user.id)}}" method="get">
                <input type="submit" value="修改" />
            </form>
            {% endif %}
        </td>
        <td>
            <form name="deleteuser" action="
            {% if user.in_use == 1 %}{{ url_for('admin.delete_user', user_id=user.id)}}
            {% elif user.in_use != 1 %}{{ url_for('admin.delete_user_complete', user_id=user.id)}}{% endif %}
            " method="get">
                <input type="submit" value="删除" />
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script language="javascript" type="text/javascript">

    $(document).ready(function(){
        $("#username").focus();
    });
</script>
{% endblock %}