{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}管理员 - 添加用户{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>添加用户</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% if allu %}
<div class="col-md-11">
    <h2>用户列表</h2>
<hr>
</div>
<div class="col-md-11">
    {% for user in allu %}
    <ul class="list-inline">
        <li>
        用户名：{{ user.username }}
        </li>
        <li>
        门店名：{{ user.branchname }}
        </li>
    </ul>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
