{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}管理员 - 添加用户{% endblock %}

{% block page_content %}
<div class="container">
<div class="page-header">
    <h1>添加用户</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
</div>
<br /><br />
{% if allu %}
<div class="container">
<div class="col-md-11">
    <h2>用户列表</h2>
<hr>
</div>
<div class="col-md-11">
<table class="table table-hover">
    <caption>所有用户</caption>
    <thead>
    <tr>
        <th>用户名</th>
        <th>门店名</th>
        <th>添加时间</th>
    </tr>
    </thead>
    <tbody>
    {% for user in allu %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.branchname }}</td>
        <td>{{ moment(user.last_seen).format('YYYY年M月D日 HH:mm:ss') }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endif %}
{% endblock %}
