{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}管理员 - 添加营销方案{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>添加营销方案</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% if campaigns %}
<div class="col-md-11">
    <h2>所有营销方案</h2>
<hr>
</div>

<div class="col-md-11">
<table class="table table-hover">
    <caption>方案清单</caption>
    <thead>
    <tr>
        <th>营销方案</th>
        <th>客户支付金额</th>
        <th>实际入卡金额</th>
    </tr>
    </thead>
    <tbody>
    {% for campaign in campaigns %}
    <tr>
        <td>{{ campaign.description }}</td>
        <td>{{ campaign.consumer_pay }}</td>
        <td>{{ campaign.into_card }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}

{% endblock %}
