{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}综合查询{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>查询结果</h1>
</div>

<div class="col-md-11">
<table class="table table-hover">
    <caption>充值记录</caption>
    <thead>
    <tr>
        <th>卡号</th>
        <th>入卡金额</th>
        <th>门店</th>
        <th>充值时间</th>
    </tr>
    </thead>
    <tbody>
    {% for line in records %}
    <tr>
        <td>{{ line.cardnumber }}</td>
        <td>{{ line.into_card }} 元</td>
        <td>{{ line.branchname }}</td>
        <td>{{ moment(line.change_time).format('YYYY年M月D日 HH:mm:ss') }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}