{% extends "bootstrap/base.html" %}

{% block title %}会员卡管理系统{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datepicker.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">会员卡v2.2</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated and not current_user.can(Permission.ADMINISTER) %}
                <li><a href="{{ url_for('main.newcard') }}">卡激活</a></li>
                <li><a href="{{ url_for('main.consume') }}">消费</a></li>
                <li><a href="{{ url_for('main.cardlookup') }}">余额查询</a></li>
                {% endif %}
                {% if current_user.can(Permission.ADMINISTER) %}
                <li><a href="{{ url_for('admin.adduser') }}">用户管理</a></li>
                <li><a href="{{ url_for('admin.add_campaign') }}">方案管理</a> </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        卡管理<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('admin.cardinit') }}">卡新增</a></li>
                        <li><a href="{{ url_for('admin.cardlookup') }}" >卡查询</a></li>
                        <li><a href="{{ url_for('admin.cardreport') }}">卡报表</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('admin.recordlookup') }}">综合查询</a></li>
                <li><a href="{{ url_for('admin.password_reset') }}">修改密码</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ current_user.username }}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        用户操作<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                        <li><a href="{{ url_for('auth.reguser') }}" >用户激活</a></li>
                        <li><a href="{{ url_for('auth.apply') }}" >管理员申请</a></li>
                    </ul>
                </li>

                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-CN") }}
<script src="{{ url_for('static', filename='bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-datepicker.zh-CN.js') }}"></script>
<script src="{{ url_for('static', filename='LodopFuncs.js') }}"></script>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!--[if lt IE 9]>
         <script src="{{ url_for('static', filename='html5shiv.js') }}"></script>
         <script src="{{ url_for('static', filename='respond.min.js') }}"></script>
      <![endif]-->
<script language="JavaScript" type="text/javascript">
    function addEvent(elm, evType, fn, useCapture) {
        if (elm.addEventListener) {
            elm.addEventListener(evType, fn, useCapture);//DOM2.0
            return true;
        }
        else if (elm.attachEvent) {
            var r = elm.attachEvent('on' + evType, fn);//IE5+
            return r;
        }
        else {
            elm['on' + evType] = fn;//DOM 0
        }
    }

    $.ajaxSetup({
        cache: false
    });
</script>
{% endblock %}
