{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}消费{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>会员卡消费</h1>
</div>
<div class="col-md-5">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script language="javascript" type="text/javascript">
    function CheckIsInstall() {
		try{
		    var LODOP=getLodop();
			if (LODOP.VERSION) {
				};
		 }catch(err){
            var btn = document.getElementById("submit");
            btn.disabled=true;
 		 }
	};

    $(document).ready(function(){
        $("#cardnumber").focus();
    });

    $(function(){
        var SCRIPT_ROOT = {{request.script_root|tojson|safe}};
        $('input[name="cardnumber"]').bind('change', function(){
            $.getJSON(SCRIPT_ROOT + '/card_check_validate_until',{
                cardnumber: $('input[name="cardnumber"]').val()
            },
            function(data){
                var r=$("<span></span>").text(data.result);
                $('input[name="remaining"]').append(r);
            }
            );
        })
    });

    window.onload=CheckIsInstall;
</script>
{% endblock %}