{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}首页{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>天福茗茶会员卡系统, {% if current_user.is_authenticated %}欢迎{{ current_user.username }}登录{% else %}请<a href="{{ url_for('auth.login') }}">登录</a>{% endif %}!</h1>
</div>

<div class="post-tabs">
    <div class="tab-pane">
        {% if current_user.is_authenticated %}
        <p>当前时间为：{{ moment(current_time).format('YYYY-M-D HH:mm:ss') }}</p>
        <p>最后活跃时间为：{{ moment(last_seen).format('YYYY-M-D HH:mm:ss') }}
            {% if last_from_ip %}，登录地址为：{{ last_from_ip }}{% endif %}</p>
        <p>您在{{ moment(current_time).fromNow(refresh=True) }}登录本页。</p>

        {% if daily_information %}
        <p>业务提示</p>
        <p>{{ daily_information }}</p>
        {% endif %}
        {% endif %}
    </div>
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
