{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}首页{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>你好, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}请登录{% endif %}!</h1>
</div>

<div class="post-tabs">
    <div class="tab-pane">
        {% if current_user.is_authenticated %}
        <p>当前时间为：{{ moment(current_time).format('LLLL') }}</p>
        <p>您在{{ moment(current_time).fromNow(refresh=True) }}登录本页。</p>
        <p>请选择相应业务</p>
        {% endif %}
    </div>
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
